<h2>Edit you place</h2>

<%= form_for :place,  do |f| %>
	<p> 
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<!-- <p> 
		<%= f.label :password %>
		<%= f.text_field :password %>
	</p> -->
	<p> 
		<%= f.label :address %>
		<%= f.text_field :city %>
		<%= f.text_field :street %>
		<%= f.text_field :bldg %>
	</p>

	<p> 
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p> 
		<%= f.label :tags %>
		<%= f.text_field :tags %>
	</p>
	<p>
		<%= f.submit 'Register', :class => 'button' %>
	</p>
	
<% end %>
