<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  	<%= link_to 'Home', home_index_path %> | <%= link_to 'Register place', new_place_path %> 
  	</header>
    <p class="notice"><%=notice%></p>
    <p class="alert"><%=alert%></p>
    <%= yield %>

  </body>
</html>
