<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">       
    <link rel="stylesheet" type="text/css" href="set1.css" />
  </head>

  <body>
  	<header><div id="header-links">
  	<%= link_to 'Home', home_index_path %> | <%= link_to 'Places', places_path %> | <%= link_to 'Register place', new_place_path %> 
    </div>
  	</header>
    <p class="notice"><%=notice%></p>
    <p class="alert"><%=alert%></p>
    <%= yield %>

  </body>
</html>
